In [43]:
import pandas as pd

In [44]:
pip install openpyxl

Requirement already satisfied: openpyxl in ./.pyenv/versions/3.11.8/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in ./.pyenv/versions/3.11.8/lib/python3.11/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [80]:
excel_file_path = '~/Desktop/Tokyomap2/Tokyo_pop.xlsx'

In [81]:
df = pd.read_excel(excel_file_path, sheet_name = 'Sheet2')

In [82]:
print(df.head(9))

    code city prefectures  year   0-4yo   5-9yo  10-14yo  15-19yo  20-24yo  \
0  13000    a       Tokyo  2020  521560  532323   514532   550705   857660
1  13000    a       Tokyo  2025  481289  507307   535102   572140   814575
2  13000    a       Tokyo  2030  492341  471728   512190   593925   836895
3  13000    a       Tokyo  2035  508637  482012   475903   565791   856481
4  13000    a       Tokyo  2040  503013  497440   485904   524307   811639
5  13000    a       Tokyo  2045  488484  491495   501029   533036   744755
6  13000    a       Tokyo  2050  468372  476877   494711   547757   748978

   25-29yo  ...  50-54yo  55-59yo  60-64yo  65-69yo  70-74yo  75-79yo  \
0   987393  ...  1067683   894511   707805   696092   804285   646882
1  1007188  ...  1165487  1039512   856151   670668   648947   725300
2   958806  ...  1041378  1135272   995556   813199   627938   588138
3   976542  ...   976302  1012937  1088734   948100   762638   572581
4   992384  ...   912069   949123   970159  1038550   891883   697728
5   935573  ...   944488   886890   909088   925161   979028   819300
6   854010  ...   976245   918630   850336   867585   872788   901833

   80-84yo  85-89yo  90-94yo   95-yo
0   499679   343868   156412   47533
1   544954   372358   202348   71738
2   620361   412889   224573   98193
3   503785   479465   254292  117312
4   495189   390300   305111  138566
5   607248   389856   249333  174446
6   717612   483459   255244  160257

[7 rows x 24 columns]

In [83]:
print(len(df))

7

In [84]:
df_line = df[['year', 'total']]

KeyError: "['total'] not in index"

In [85]:
print(df.columns)

Index(['code', 'city', 'prefectures', 'year', '0-4yo', '5-9yo', '10-14yo',
       '15-19yo', '20-24yo', '25-29yo', '30-34yo', '35-39yo', '40-44yo',
       '45-49yo', '50-54yo', '55-59yo', '60-64yo', '65-69yo', '70-74yo',
       '75-79yo', '80-84yo', '85-89yo', '90-94yo', '95-yo'],
      dtype='object')

In [86]:
line_csv_path = '~/Desktop/Tokyomap2/line_chartdata.csv'

In [87]:
df_line.to_csv(line_csv_path,index = False)

In [88]:
age_columns = [col 
              for col in df.columns
               if 'yo' in col]

In [89]:
df_melted = pd.melt(df, id_vars=['year'], value_vars=age_columns, var_name='Age Group', value_name='Population')

In [90]:
df_melted['year'] = df_melted['year'].astype(str)

In [91]:
print(df_melted.dtypes)

year          object
Age Group     object
Population     int64
dtype: object

In [92]:
bar_chart_csv_path = '~/Desktop/Tokyomap2/barchart_race_data.csv'
df_melted.to_csv(bar_chart_csv_path, index=False)

In [93]:
print(df_melted.head(7))

   year Age Group  Population
0  2020     0-4yo      521560
1  2025     0-4yo      481289
2  2030     0-4yo      492341
3  2035     0-4yo      508637
4  2040     0-4yo      503013
5  2045     0-4yo      488484
6  2050     0-4yo      468372

In [94]:
print(df_melted.dtypes)

year          object
Age Group     object
Population     int64
dtype: object

In [95]:
df_pivot = df.melt(id_vars='year', var_name='Age_Group', value_name='Population')
df_pivot = df_pivot.pivot(index='Age_Group', columns='year', values='Population')

In [96]:
print(df_pivot)

year            2020     2025     2030     2035     2040    2045    2050
Age_Group
0-4yo         521560   481289   492341   508637   503013  488484  468372
10-14yo       514532   535102   512190   475903   485904  501029  494711
15-19yo       550705   572140   593925   565791   524307  533036  547757
20-24yo       857660   814575   836895   856481   811639  744755  748978
25-29yo       987393  1007188   958806   976542   992384  935573  854010
30-34yo       958959   993389  1025332   974591   986333  996359  934881
35-39yo      1009207   938393   976733  1008839   958079  966217  972694
40-44yo      1065587   994175   930478   966173   998103  947523  953805
45-49yo      1184918  1057893   992666   927868   961539  993432  943070
5-9yo         532323   507307   471728   482012   497440  491495  476877
50-54yo      1067683  1165487  1041378   976302   912069  944488  976245
55-59yo       894511  1039512  1135272  1012937   949123  886890  918630
60-64yo       707805   856151   995556  1088734   970159  909088  850336
65-69yo       696092   670668   813199   948100  1038550  925161  867585
70-74yo       804285   648947   627938   762638   891883  979028  872788
75-79yo       646882   725300   588138   572581   697728  819300  901833
80-84yo       499679   544954   620361   503785   495189  607248  717612
85-89yo       343868   372358   412889   479465   390300  389856  483459
90-94yo       156412   202348   224573   254292   305111  249333  255244
95-yo          47533    71738    98193   117312   138566  174446  160257
city               a        a        a        a        a       a       a
code           13000    13000    13000    13000    13000   13000   13000
prefectures    Tokyo    Tokyo    Tokyo    Tokyo    Tokyo   Tokyo   Tokyo

In [97]:
print(df.columns)

Index(['code', 'city', 'prefectures', 'year', '0-4yo', '5-9yo', '10-14yo',
       '15-19yo', '20-24yo', '25-29yo', '30-34yo', '35-39yo', '40-44yo',
       '45-49yo', '50-54yo', '55-59yo', '60-64yo', '65-69yo', '70-74yo',
       '75-79yo', '80-84yo', '85-89yo', '90-94yo', '95-yo'],
      dtype='object')

In [101]:
df['0-9yo']=df['0-4yo']+df['5-9yo']
df['10-19yo']=df['10-14yo']+df['15-19yo']
df['20-29yo']=df['20-24yo']+df['25-29yo']
df['30-39yo']=df['30-34yo']+df['35-39yo']
df['40-49yo']=df['40-44yo']+df['45-49yo']
df['50-59yo']=df['50-54yo']+df['55-59yo']
df['60-69yo']=df['60-64yo']+df['65-69yo']
df['70-79yo']=df['70-74yo']+df['75-79yo']
df['80-89yo']=df['80-84yo']+df['85-89yo']
df['90-yo']=df['90-94yo']+df['95-yo']

In [102]:
df=df.drop(columns=['0-4yo', '5-9yo', '10-14yo',
       '15-19yo', '20-24yo', '25-29yo', '30-34yo', '35-39yo', '40-44yo',
       '45-49yo', '50-54yo', '55-59yo', '60-64yo', '65-69yo', '70-74yo',
       '75-79yo', '80-84yo', '85-89yo', '90-94yo', '95-yo'])

In [103]:
df.head()

,code,city,prefectures,year,0-9yo,10-19yo,20-29yo,30-39yo,40-49yo,50-59yo,60-69yo,70-79yo,80-89yo,90-yo
0,13000,a,Tokyo,2020,1053883,1065237,1845053,1968166,2250505,1962194,1403897,1451167,843547,203945
1,13000,a,Tokyo,2025,988596,1107242,1821763,1931782,2052068,2204999,1526819,1374247,917312,274086
2,13000,a,Tokyo,2030,964069,1106115,1795701,2002065,1923144,2176650,1808755,1216076,1033250,322766
3,13000,a,Tokyo,2035,990649,1041694,1833023,1983430,1894041,1989239,2036834,1335219,983250,371604
4,13000,a,Tokyo,2040,1000453,1010211,1804023,1944412,1959642,1861192,2008709,1589611,885489,443677

In [104]:
print(df.columns)

Index(['code', 'city', 'prefectures', 'year', '0-9yo', '10-19yo', '20-29yo',
       '30-39yo', '40-49yo', '50-59yo', '60-69yo', '70-79yo', '80-89yo',
       '90-yo'],
      dtype='object')

In [107]:
df_pivot.insert(0, 'Age Group',['0-9yo', '10-19yo', '20-29yo',
       '30-39yo', '40-49yo', '50-59yo', '60-69yo', '70-79yo', '80-89yo',
       '90-yo'])

ValueError: Length of values (10) does not match length of index (23)

In [105]:
df_pivot.to_csv('~/Desktop/Tokyomap2/p_population_data2.csv', index=False)